<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Web Socket Example</h1>
    <pre id="message"></pre>

    <input type="text" />
    <button>Send</button>
    <script>
      var socket = new WebSocket("ws://localhost:5290");
      socket.onopen = (event) => {
        console.log("onopen", event);
      };
      socket.onmessage = (event) => {
        console.log("onmessage", event);
        document.querySelector("pre").textContent = event.data;
      };
      socket.onerror = (event) => {
        console.log("onerror", event);
      };
      document.querySelector("button").addEventListener("click", () => {
        const text = document.querySelector("input").value;
        socket.send(text);
      });
    </script>
  </body>
</html>
